html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html, body {
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

header {
    width: 100%;
    height: 60px;
}

.scenarios-summary {
    font-family: Roboto;
    font-size: 14px;
}

.passed {
    background: #4CAF50;
}

header.failed {
    background: #FF5252;
    color: white;
}

header h1 {
    float: left;
    font-size: 25px;
    color: white;
    height: 60px;
    line-height: 60px;
    font-weight: 500;
    margin-left: 20px;
}

.step {
    font-size: 16px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 45px;
    display: none;
}

.feature {
    margin: 30px 0 30px 15px;
    background: #E8F5E9;
    clear: both;
    padding: 15px;
    overflow: auto;
    height: 102px;
}

.feature-container {
    margin-top: 60px;
}

.feature-statistics {
    margin: 30px 0;
}


.feature h2 {
    font-weight: bold;
    font-size: 18px;
}

.feature-description {
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 29px;
    font-size: 16px;
}

.feature .fa-magic {
    font-size: 20px;
    margin-right: 5px;
}

.scenario-label, .steps-label {
    background: #E8F5E9;
    font-size: 14px;
    text-align: center;
    width: 90px;
    height: 51px;
    line-height: 51px;
    float: left;
}

.scenario-label {
    border-bottom: solid 2px white;
}

.clear {
    clear: both;
}

.scenario-amount-passed, .steps-amount-passed {
    font-size: 24px;
    text-align: center;
    height: 51px;
    margin-left: 90px;
    box-sizing: border-box;
    border: 1px solid #E8F5E9;
    border-left: none;
    line-height: 14px;
    padding-top: 11px;
}

.scenario-amount-passed span, .steps-amount-passed span {
    font-size: 14px;
}

.steps-label {
    background: #E8F5E9;
}

.scenario {
    font-weight: 600;
    font-size: 16px;
    padding-left: 5px;
    margin-top: 10px;
    margin-left: 15px;
    display: block;
    cursor: pointer;
    height: 35px;
    line-height: 35px;
}

.step.passed {
    background: #E8F5E9;
    color: #000;
    border-left: 5px solid #388E3C;
}

.step.skipped {
    background: #E3F2FD;
    color: #000;
    border-left: 5px solid #2196F3;
}

.step.failed {
    background: #FFEBEE;
    color: #000;
    border-left: 5px solid #E53935;
    cursor: pointer;
}

.step.pending {
    background: #fcdfc2;
    color: #c99404;
    border-left: 5px solid #c99404;
    cursor: pointer;
}

.step.undefined {
    background: #fcdfc2;
    color: #c99404;
    border-left: 5px solid #c99404;
    cursor: pointer;
}

.scenario.passed {
    background: #4CAF50;
    color: white;
}

.scenario.failed {
    background: #FF5252;
    color: white;
}

.scenario.skipped {
    background: #0473c9;
    color: white;
}

.scenario.pending, .scenario.undefined {
    background: #c99404;
    color: white;
}

.error-details {
    padding: 10px;
    display: none;
    width: 100%;
    word-wrap: break-word;
    box-sizing: border-box;
}

.test-summary {
    color: white;
    float: right;
    margin: 5px;
    font-size: 13px;
}

.test-summary div {
    margin-top: 5px;
}

.btn {
    color: white;
    outline: none !important;
    padding: 7px;
    border: none;
    width: 115px;
    height: 44px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s linear;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
}

.btn:hover {
    opacity: 1;
    -webkit-box-shadow: 0px 2px 7px -2px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 2px 7px -2px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 2px 7px -2px rgba(0, 0, 0, 0.38);
}

.error_btn {
    background: #FF5252;
    margin-left: 20px;
}

.passed_btn {
    background: #4CAF50;
    margin-left: 20px;
}

.all_btn {
    background: #C4C7C7;
    color: black;
}

.btn.active {
    opacity: 1;
}

.passed_btn:not(active), .error_btn:not(active), .all_btn:not(active) {
    opacity: 0.5;
}

.passed_btn.active, .passed_btn.active:hover, .passed_btn.active:focus,
.passed_btn:active, .passed_btn:hover {
    background: #388E3C;
    color: white;
    opacity: 1;
    border: none;
}

.all_btn.active, .all_btn.active:hover, .all_btn.active:focus,
.all_btn:active, .all_btn:hover {
    background: #C4C7C7;
    color: black;

    border: none;
}

.error_btn, .error_btn:hover, .error_btn.active:focus, .error_btn:active {
    background: #FF5252;
    color: white;
    opacity: 1;
    border: none;
}

.btn_list, .btn_chart {
    font-size: 23px;
    color: #000;
    width: 82px;
    height: 45px;
}

.btn_list {
    margin-right: 20px;
}

.btn_list:active, .btn_list:hover, .btn_list:focus,
.btn_chart:active, .btn_chart:hover {
    color: black;
    opacity: 1;
}

.main_btns {
    margin-bottom: 50px;
    margin-top: 50px;
}

.btn_menu {
    margin-left: 15px;
}

.additional_btns {
    margin-bottom: 50px;
    margin-top: 50px;
}

.scenario-chart.chart-hidden {

    -webkit-animation-name: hide_chart;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    animation-name: hide_chart;
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}

.scenario-chart {
    text-align: center;
    display: none;
    position: fixed;
    top: 59px;
    width: 40%;
    min-width: 400px;
    height: 500px;
    background-color: white;
    left: 0;
    right: 0;
    margin: 0 auto;
    border: 1px solid #aaa;
    z-index: 3;
    -webkit-box-shadow: 3px 10px 156px -29px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 3px 10px 156px -29px rgba(0, 0, 0, 0.61);
    box-shadow: 3px 10px 156px -29px rgba(0, 0, 0, 0.61);
    -webkit-animation-name: display_chart;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    animation-name: display_chart;
    animation-duration: 0.5s;

}

@-moz-keyframes display_chart {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes display_chart {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes display_chart {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes display_backdrop {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.6;
    }
}

@-moz-keyframes display_backdrop {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.6;
    }
}

@keyframes display_backdrop {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.6;
    }
}

@-webkit-keyframes hide_backdrop {
     0% {
         opacity: 0.6;
     }

     100% {
         opacity: 0;
     }
}

@-moz-keyframes hide_backdrop {
    0% {
        opacity: 0.6;
    }

    100% {
        opacity: 0;
    }
}

@keyframes hide_backdrop {
    0% {
        opacity: 0.6;
    }

    100% {
        opacity: 0;
    }
}


.close_chart {
    font-size: 30px;
    position: absolute;
    padding-right: 10px;
    padding-top: 5px;
    cursor: pointer;
    right: 0;
    color: #bbb;
    top: 5px;
}

@-moz-keyframes hide_chart {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

}

@keyframes hide_chart {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

}

@-webkit-keyframes hide_chart {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

}

.chart-title {
    margin-top: 15px;
    top: 40px;
    width: 100%;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    padding-left: 20px;
    border-bottom: 1px solid #bbb;
    box-sizing: border-box;
    padding-bottom: 10px;
}

.chart-legend {
    float: left;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin-top: 6px;
    margin-left: 20px;
}

.legend-details {
    font-weight: bold;
    font-size: 15px;
    margin-left: 15px;
}

.legend_passed {
    color: #4caf50;
    display: inline-block;
    padding: 10px;
    float: left;
}

.legend_failed {
    color: #ff5252;
    display: inline-block;
    padding: 10px;
    float: left;
}

.legend_passed::before {
    content: "";
    display: block;
    float: left;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-bottom: 5px;
    background: #4caf50;
}

.legend_failed::before {
    content: "";
    display: block;
    float: left;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    background: #ff5252;
}

.document_container.backdrop-hidden {
    -webkit-animation-name: hide_backdrop;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    animation-name: hide_backdrop;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}

.document_container {
    background: #989893;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
    display: none;
    z-index: 2;
    -webkit-animation-name: display_backdrop;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    cursor: pointer;
}


@media (max-width: 768px) {

    .feature-statistics {
        margin-left: 15px;
    }

    .btn_support {
        margin-left: 15px;
    }

    .btn_menu .btn {
        margin: 0;
        width: 100%;
        margin-bottom: 10px;
    }

    .main_btns {
        margin-bottom: 0;
    }

    .btn_support .btn {
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
    }

    .additional_btns {
        margin-top: 0;
    }

}

