    <div class="row feature-container">
        <div class="col-md-3 col-sm-4 feature-statistics">
            <div class="feature-number"><%=featureCount %></div>
            <div class="scenario-amount-passed">
                <span>Scenarios passed:</span>

                <div class="passed-scenarios-in-feature"><%= passedScenariosNumberInFeature %></div>
                <div class="scenarios-number-in-feature">/ <%=scenariosNumberInFeature %></div>
            </div>
                    <div class="steps-amount-passed">
                <span>Steps passed:</span>

                <div class="passed-steps-in-feature">
                    <%= passedStepsInFeature %>
                </div>
                <div class="steps-number-in-feature">/ <%= stepsNumberInFeature %></div>
                <br/></div>
            <div class="feature">
                <h2><i class="fa fa-file feature-file-icon" aria-hidden="true"></i> Description:</h2>

                <div class="feature-description">
                    <%= name %>
                </div>
            </div>
        </div>
    </div>
