<div class="row feature-container">
    <div class="col-md-9 col-sm-8">
        <div class="feature">
            <h2><i class="fa fa-magic"></i> Feature:</h2>

            <div class="feature-description">
                <%= name %>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 feature-statistics">
        <div class="scenario-label">Scenarios</div>
        <div class="scenario-amount-passed"> <%= passedScenariosNumberInFeature %>/<%= scenariosNumberInFeature %> <br/><span>passed</span></div>
        <div class="clear"></div>
        <div class="steps-label">Steps</div>
        <div class="steps-amount-passed"> <%= passedStepsInFeature %>/<%= stepsNumberInFeature %> <br/><span>passed</span></div>
    </div>
</div>