<header class="<%=status %>">
    <h1>Cucumber features</h1>
    <div class="test-summary">
        <div class="scenarios-summary"><%=scenariosSummary %></div>
        <div class="steps-summary"><%=stepsSummary %></div>
    </div>
</header>
<div class="filtering-buttons">
    <button data-state="failed" class="btn error_btn" id="error_btn">Error</button>
    <button data-state="passed" class="btn passed_btn" id="passed_btn">Passed</button>
    <button data-state="all" class="btn all_btn active" id="all_btn">All</button>
    <button data-state="display" class="btn display_btn display " id="display_btn">Display</button>
</div>
