<header class="<%=status %>">
    <time class="report-date"><%=reportDate %></time>
    <h1><%=reportTitle%></h1>
    <div class="test-summary">
        <div class="scenarios-summary"><%=scenariosSummary%></div>
        <div class="steps-summary"><%=stepsSummary%></div>
        <div class="elapsed-time">
            <i class="fa fa-clock-o"></i>
            <%=elapsedTime%>
        </div>
    </div>
</header>
<div class="row navigation-buttons">
    <div class="filtering-buttons">
        <div class="col-md-9 col-sm-8 main-btns">
            <div class="btn-menu">
                <button data-state="all" class="btn all-btn active" id="all-btn">All</button>
                <button data-state="passed" class="btn passed-btn" id="passed-btn">Passed</button>
                <button data-state="failed" class="btn error-btn" id="error-btn">Error</button>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 additional-btns">
            <div class="btn-support">
                <button data-state="steps" title="Display all steps within scenario" class="btn fa fa-list btn-list"
                        id="display-btn"></button>
                <button data-state="chart" title="Display chart" class="btn fa fa-pie-chart btn-chart"></button>
            </div>
        </div>
    </div>
</div>
