<header class="<%=status %>">
    <time class="report-date"><%=reportDate %></time>
    <h1><%=reportTitle%></h1>
</header>
<div class="row">
    <div class="container test-summary">
        <div class="row test-summary-header">
            <span>Report summary:</span>
        </div>
        <div class="row text-center">
            <div class="elapsed-time col-xs-4">
                <i class="fa fa-clock-o"> Time:</i>
                <span class="time-duration"><%=elapsedTime%></span>
            </div>
            <div class="col-xs-4">
                <div class="scenarios-summary col-xs-6"><%=scenariosSummary%> scenarios:</div>
                <div class="passed-scenarios col-xs-6">(<%=passedScenarios%> passed)</div>
            </div>
            <div class="col-xs-4">
                <div class="steps-summary col-xs-6"><%=stepsSummary%> steps</div>
                <div class="passed-steps col-xs-6">(<%=passedSteps%> passed)</div>
            </div>
        </div>
    </div>
    <div class="filtering-buttons">
        <div class="col-md-9 col-sm-8 main_btns">
        <span class="filtering-buttons-header">Features:</span>
            <div class="btn_menu">
                <span>Filters:</span>
                <button data-state="all" class="btn all_btn active" id="all_btn">All
                <span><%=scenariosSummary%></span>
                </button>
                <button data-state="passed" class="btn passed_btn" id="passed_btn">Passed
                <span><%=passedScenarios%></span>
                </button>
                <button data-state="failed" class="btn error_btn" id="error_btn">Error
                    <span><%=failedScenarios%></span></button>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 additional_btns">
            <div class="btn_support">
                <button data-state="steps" title="Display all steps within scenario" class="btn fa fa-list btn_list"
                        id="display_btn"></button>
                <button data-state="chart" title="Display chart" class="btn btn_chart">
                    <i class="fa fa-circle-o"></i>
                </button>
            </div>
        </div>
    </div>
</div>