<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="assets/css/font-awesome-4.5.0/css/font-awesome.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap/css/bootstrap.min.css" />
    <link href="assets/css/style.css" rel="stylesheet" type="text/css"/>
    <script src="assets/js/navigation.js"></script>
    <script src="assets/js/chart.js"></script>
    <script src="assets/js/init.js"></script>
</head>
<body>

<div class="container">
<%= scenarios %>

    <div class="scenario-chart">
        <div class="close-chart fa fa-times"></div>
        <h1 class="chart-title">Scenario statistics</h1>
        <canvas id="chart" class="chart" width="450" height="450">Your browser doesn't support HTML5 Canvas.</canvas>
    </div>
</div>
 <div class="document-container"></div>
</body>
</html>
