<div class="step <%= status %>">
    <span class="step-duration"><%= duration %></span>
    <%= name %>
    <% if (tableOutline) { %>
    <table class="table-outline">
        <thead>
        <tr class="table-header">
            <td>Unit</td>
            <td>Lesson</td>
            <td>Mini-cycle</td>
            <td>Section</td>
            <td>Activity</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>5</td>
            <td>1</td>
            <td>1</td>
            <td>Watch</td>
            <td>Watch and learn</td>
        </tr>
        <tr>
            <td>15</td>
            <td>11</td>
            <td>13</td>
            <td>Speak</td>
            <td>Meaning</td>
        </tr>
        </tbody>
    </table>
    <% } %>
    <% if (errorDetails) { %>
    <div class="error-details">
        <blockquote>
            <pre>
                <code>
                    <%= errorDetails %>
                </code>
            </pre>
        </blockquote>
    </div>
    <% } %>
</div>